@model ProjectManagerSite.Models.UserVM

<div class="row" id="MyProjects">
    <div class="container-fluid">
        <div class="row"  style="padding-top:15px">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h3 class="panel-title">Order list</h3>
</div>
                    <table class="table">

                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Start date
                                </th>
                                <th>
                                    Release date
                                </th>
                                <th>
                                    Client
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Orders.Count; i++)
                            {
                                <tr class="TableTr @(Model.Orders[i].Status == "Done" ? "Done" : Model.Orders[i].Status == "InProgress" ?
                         "InProgress" : Model.Orders[i].Status == "Discarded" ? "Discarded" : string.Empty)"
                                    onclick="Click('@Model.Orders[i].Id')"
                                    style="cursor:pointer;">
                                    <td>
                                        @(i + 1)
                                    </td>
                                    <td>
                                        @Model.Orders[i].Name
                                    </td>
                                    <td>
                                        @Model.Orders[i].StartDate.ToShortDateString()
                                    </td>
                                    <td>
                                        @Model.Orders[i].ReleaseDate.Value.ToShortDateString()
                                    </td>
                                    <td>
                                        @Model.Orders[i].Clients.Users.Name @Model.Orders[i].Clients.Users.Surname
                                    </td>
                                    <td>
                                        @Model.Orders[i].Status
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <script>
                    function Click(order) {
                        window.location.href = "/Project/LoadOrder?OrderId=" + order;
                    }
                </script>
            </div>

        </div>
    </div>
</div>
