@model ProjectManagerSite.EF.Users
<div class="row" id="MyProfile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <img src="~/Assets/MaleAvatar.jpg" width="100%"  style="padding-top:15px"/>
                <div id="blockDown">

                    @Ajax.ActionLink(
"Edit profile",
"MyProfileEdit", "Home", null,
new AjaxOptions() { UpdateTargetId = "AjaxBody" }, new { @class = "btn-block btn btn-primary btn-lg" }
)
                </div>
                <h4><img src="~/Assets/Flags/Ukraine.png" width="25"></img> Ukraine</h4>
                <h4>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Done projects: 12
                </h4>
                <h4>
                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                    In progress: 2
                </h4>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="padding-top:0px">@Model.Name @Model.Surname</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="skillsSector">
                            @Html.Action("Skills")
                            <h5>
                                @Model.Description
                               
                            </h5>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


</div>