@model ProjectManagerSite.EF.Users

<div class="row" id="MyProfileEdit">
    <div class="container-fluid">
        <div class="row" style="padding-top:15px">
            <div class="col-md-3">

                <img src="~/Assets/MaleAvatar.jpg" width="100%" />
                <div id="blockDown">

                    @Html.ActionLink("Save changes", "Index", "Home", new { @class = "btn-block btn btn-primary btn-lg" } )

                </div>
                <h4><img src="~/Assets/Flags/Ukraine.png" width="25"></img> Ukraine</h4>
                <h4>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Done projects: 12
                </h4>
                <h4>
                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                    In progress: 2
                </h4>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="NameEditTextBox" value="@Model.Name" placeholder="Name"/>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="SurnameEditTextBox" value="@Model.Surname" placeholder="Surname"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Skills:</h3>
                        <div style="border:2px solid #ccc; width:100%; max-height: 200px; overflow-y: scroll;"> 
                            @Html.Action("SkillsEdit")                          
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="skillsSector">
                            <h3>Details:</h3>
                                <textarea cols="20" style="resize:none; height: 200px" id="skillsSector">
@Model.Description
</textarea>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


</div>