@model ProjectManagerSite.Models.UserVM

@using (Html.BeginForm("MyProfileEdit", "Home", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{
    <div class="row" id="MyProfileEdit">
        <div class="container-fluid">
            <div class="row" style="padding-top:15px">
                <div class="col-md-3">
                    <div style="height:0px;overflow:hidden">
                        <input type="file" name="Image" id="fileInput" onchange="previewFile()" accept="image/*" />
                        <input type="hidden" name="WebcamImage" id="WebcamImage" value=""/>
                    </div>
                    <div type="button" class="btn-img" onclick="chooseFile();" width="100%">
                        <div class="img-wrap">
                            <img id="Avatar" src="/Home/ViewImage/@Model.User.Login" width="100%" />
                            @*/Home/ViewImage/@Model.User.Login*@
                        </div>
                    </div>

                    <script>
                        function chooseFile() {
                            $("#fileInput").click();
                            $("#ErrorMessage").empty();
                        }

                        function previewFile() {
                            var oldImgSrc = $("#Avatar").attr("src");
                            if (ValidateFileUpload()) {
                                var preview = document.querySelector('img'); //selects the query named img
                                var file = document.querySelector('input[type=file]').files[0]; //sames as here
                                var reader = new FileReader();

                                reader.onloadend = function () {
                                    preview.src = reader.result;
                                }

                                if (file) {
                                    reader.readAsDataURL(file); //reads the data as a URL
                                } else {
                                    preview.src = "";
                                }
                            }
                            else {
                                $("#ErrorMessage").append("Wrong image type");
                                $("#Avatar").attr("src", oldImgSrc);
                                $("#fileInput").val('');
                            }
                        }

                        function ValidateFileUpload() {
                            var fuData = document.getElementById('fileInput');
                            var FileUploadPath = fuData.value;

                            //To check if user upload any file
                            if (FileUploadPath == '') {
                                alert("Please upload an image");

                            } else {
                                var Extension = FileUploadPath.substring(
                                        FileUploadPath.lastIndexOf('.') + 1).toLowerCase();

                                //The file uploaded is an image

                                if (Extension == "gif" || Extension == "png" || Extension == "bmp"
                                                    || Extension == "jpeg" || Extension == "jpg") {

                                    // To Display
                                    if (fuData.files && fuData.files[0]) {
                                        var reader = new FileReader();

                                        reader.onload = function (e) {
                                            $('#blah').attr('src', e.target.result);
                                        }

                                        reader.readAsDataURL(fuData.files[0]);
                                    }

                                }

                                    //The file upload is NOT an image
                                else {
                                    return false;

                                }
                            }
                            return true;
                        }
                    </script>
                    <h4 id="ErrorMessage" style="color:brown"></h4>

                    <div id="blockDown">
                        @* @Html.ActionLink("Save changes", "Index", "Home", new { @class = "btn-block btn btn-primary btn-lg" })*@
                        <input type="button" value="Save changes" class="btn-block btn btn-primary btn-lg" onclick="Save()" />

                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Name:</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>Surname:</h4>
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-md-6">


                                @Html.TextBoxFor(item => item.Name, new { @class = "form-control", placeholder = "Name" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                @*<input type="text" class="form-control" id="NameEditTextBox" value="@Model.Name" placeholder="Name" />*@
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(item => item.Surname, new { @class = "form-control", placeholder = "Surname" })
                                @*<input type="text" class="form-control" id="SurnameEditTextBox" value="@Model.Surname" placeholder="Surname" />*@
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-1">
                                <img src="~/Assets/Skype.png" width="30px">

                            </div>
                            <div class="col-md-11">
                                @*<input type="text" class="form-control" id="SkypeEditTextBox" value="@Model.Skype" placeholder="Surname" />*@
                                @Html.TextBoxFor(item => item.Skype, new { @class = "form-control", placeholder = "Skype" })
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-1">
                                <img src="~/Assets/Email.png" width="30px">
                            </div>
                            <div class="col-md-11">
                                @*<input type="text" class="form-control" id="EmailEditTextBox" value="@Model.Email" placeholder="E-mail" />*@
                                @Html.TextBoxFor(item => item.Email, new { @class = "form-control", placeholder = "Email" })
                            </div>
                        </div>
                        <div class="row">

                            <div style="margin: 0 auto; width: 980px; text-align: center">
                                <div style="float: left; border: 4px solid #ccc; padding: 5px">
                                    <div id="Camera"></div><br>
                                    <input type="button" value="Capture" name="WebCamera" onclick="webcam.capture();" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Skills:</h3>
                                <div style="border:2px solid #ccc; width:100%; max-height: 200px; overflow-y: scroll;">
                                    @Html.Action("SkillsEdit")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="skillsSector">
                                    <h3>Details:</h3>
                                    @Html.TextAreaFor(item => item.Description, new { @class = "form-control", placeholder = "Description", style = "resize:none; height: 200px" })
                                    @*<textarea cols="20" style="resize:none; height: 200px" id="skillsSector">

                                        </textarea>*@
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>

}
<script src="@Url.Content("~/Scripts/jquery.webcam.js")">

</script>
<script type="text/javascript">
    function Save() {
        var form = $('#myForm');
        var formData = new FormData(form[0]);
        $.ajax({
            url: '/Home/MyProfileEdit',
            type: 'Post',
            data: formData,
            contentType: false,
            processData: false,
            failor: function (data) {
            },
            success: function (data) {

                if (data.result == 'Redirect') {
                    window.location = data.url;
                }
                else if (data.result == 'Error') {
                    $("#ErrorMessage").html(data.message);
                }
                else {
                    var div = document.getElementById("AjaxBody");
                    var oldScrollTop = div.scrollTop;
                    div.innerHTML = data;
                    div.scrollTop = oldScrollTop;
                    return false;
                }
            }
        });
    }

    var imgId = "null";

    $("#Camera").webcam({
        width: 320,
        height: 240,
        mode: "save",
        swffile: "@Url.Content("~/Scripts/jscam.swf")",
        onCapture: function () {
            var oldImg = imgId;
            imgId = guid();
            document.getElementById("WebcamImage").value = imgId;
            webcam.save("/Home/Capture?imgId=" + imgId.toString() + "&oldImg="+oldImg.toString());
        },
        onSave: function (data) {
            document.getElementById("Avatar").src = "/WebImages/" + imgId + ".jpg";
            $("#fileInput").val('');
        },
        debug: function () { },
        onLoad: function () { }
    });

    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
              .toString(16)
              .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
          s4() + '-' + s4() + s4() + s4();
    }
</script>
<script type="text/javascript">

    window.onload = load();
    function load() {
        debugger;
        document.getElementById('Submit1').disabled = true;
    }
</script>
<script src="~/Scripts/jquery-2.2.0.min.js"></script>