@model ProjectManagerSite.Models.UserVM
<form id="myForm" enctype="multipart/form-data" method="post">
    <div class="row" id="MyProfileEdit">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" align="center">
                    <div style="height:0px;overflow:hidden;padding-top:0px;z-index: 0;position:absolute">
                        <input type="file" name="Image" id="fileInput" onchange="previewFile()" accept="image/*" />
                        <input type="hidden" name="WebcamImage" id="WebcamImage" value="" />
                    </div>
                    <div type="button" class="btn-img" onclick="chooseFile();" width="100%" style="padding-top:10px">
                        <div class="img-wrap">
                            <img id="Avatar" src="/Home/ViewImage/@Model.User.Login" width="100%" />
                        </div>
                    </div>
                    <div style="padding-top:10px;">
                        <span>
                            <button type="button" class="btn btn-default" style="border:hidden" onclick="takeFile()">
                                <div class="glyphicon glyphicon-folder-open" aria-hidden="true"></div>
                            </button>
                        </span>
                        <span>
                            <button type="button" class="btn btn-default" style="border:hidden" onclick="takePicture()">
                                <div class="glyphicon glyphicon-camera" aria-hidden="true"></div>
                            </button>
                        </span>
                    </div>

                    <div style="padding-top:10px">
                        <input type="button" value="Save changes" class="btn-block btn btn-primary btn-lg" onclick="SaveForm()" />
                    </div>
                    <h4 id="ErrorMessage" style="color:brown">
                        @Html.ValidationSummary()

                    </h4>

                </div>
                <div class="col-md-9">
                    <div class="row" style="display:none" id="cameraBlock">

                        <div style="margin: 0 auto; width: 980px; text-align: center">
                            <div style="float: left; border: 4px solid #ccc; padding: 5px">
                                <div id="Camera"></div><br>
                                <button type="button" class="btn btn-default" value="Capture" name="WebCamera" onclick="webcam.capture();">
                                    <div class="glyphicon glyphicon-camera" aria-hidden="true"></div> Capture
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Name:</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>Surname:</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.TextBoxFor(item => item.Name, new { @class = "form-control", placeholder = "Name" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(item => item.Surname, new { @class = "form-control", placeholder = "Surname" })
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-1">
                                <img src="~/Assets/Skype.png" width="30px">
                            </div>
                            <div class="col-md-11">
                                @Html.TextBoxFor(item => item.Skype, new { @class = "form-control", placeholder = "Skype" })
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-1">
                                <img src="~/Assets/Email.png" width="30px">
                            </div>
                            <div class="col-md-11">
                                @Html.TextBoxFor(item => item.Email, new { @class = "form-control", placeholder = "Email" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3>Skills:</h3>
                                <div style="border:2px solid #ccc; width:100%; max-height: 200px; overflow-y: scroll;">
                                    @Html.Action("SkillsEdit")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="skillsSector">
                                    <h3>Details:</h3>
                                    @Html.TextAreaFor(item => item.Description, new { @class = "form-control", placeholder = "Description", style = "resize:none; height: 200px" })
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
</form>
<script src="~/Scripts/myProfileEdit.js"></script>
<script src="@Url.Content("~/Scripts/jquery.webcam.js")"></script>
<script type="text/javascript">
    var imgId = "null";

    $("#Camera").webcam({
        width: 320,
        height: 240,
        mode: "save",
        swffile: "@Url.Content("~/Scripts/jscam.swf")",
        onCapture: function () {
            var oldImg = imgId;
            imgId = "@Model.User.Id" + guid();
            document.getElementById("WebcamImage").value = imgId;
            webcam.save("/Home/Capture?imgId=" + imgId.toString() );
        },
        onSave: function (data) {
        document.getElementById("Avatar").src = "/WebImages/" + imgId + ".jpg";
        $("#fileInput").val('');
    },
    debug: function () { },
    onLoad: function () { }
    });
</script>
<script src="~/Scripts/jquery-2.2.0.min.js"></script>