@model ProjectManagerSite.Models.UserVM
@{
    if (Model.AuthorizeUser.Role == "Employee")
    {
        Layout = "~/Views/Home/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Home/_ClientLayout.cshtml";
    }

}
<div class="row" id="Profile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" style="padding-top:10px">
                <img src="/Home/ViewImage/@Model.User.Login" onerror="this.src = '/Assets/MaleAvatar.jpg'"
                     width="100%" />
                @*<img src="~/Assets/MaleAvatar.jpg" width="100%"  style="padding-top:15px"/>*@
                <div id="blockDown">
                    @if (Model.User.Login == Model.AuthorizeUser.Login)
                    {
                        @Ajax.ActionLink(
         "Edit profile",
         "MyProfileEdit", "Home", null,
         new AjaxOptions() { UpdateTargetId = "AjaxBody" }, new { @class = "btn-block btn btn-primary btn-lg" }
         )

                    }
                </div>
                @if (Model.User.Role.ToLower() == "employee")
                {
                    <h4>
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        Done projects: @Model.DoneProjects
                    </h4>
                    <h4>
                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                        In progress: @Model.InProgress
                    </h4>
                }
                else
                {
                    <h4>
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        Ordered: @Model.OrderedProjects
                    </h4>
                    <h4>
                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                        In progress: @Model.OrdersInProgress
                    </h4>
                    <h4>
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        Done: @Model.OrdersDone
                    </h4>
                }
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="padding-top:0px">@Model.User.Name @Model.User.Surname</h2>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.Skype))
                {
                    <div class="row">
                        <div class="col-md-1">
                            <a href="skype:@Model.User.Skype?chat"><img src="/Assets/Skype.png" height="30px"></a>
                        </div>
                        <div class="col-md-11">
                            <h5><a href="skype:@Model.User.Skype?chat">@Model.User.Skype</a></h5>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-1">
                        <a href="mailto:@Model.User.Email"><img src="~/Assets/Email.png" height="30px"></a>
                    </div>
                    <div class="col-md-11" style="vertical-align:central">
                        <h5><a href="mailto:@Model.User.Email">@Model.User.Email</a></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="skillsSector">
                            @if (Model.User.Role == "Employee")
                            {
                                @Html.Action("Skills", new { Login = Model.User.Login })
                            }
                            <h5>
                                @Model.User.Description

                            </h5>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


</div>